{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "rules": {
    "arrow-parens": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [1, { "forbid": ["string"] }],
    "react/prefer-stateless-function": [1],
    "react/prop-types": [1],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "no-use-before-define": [0],
    "comma-dangle": [0],
    "space-before-function-paren": [0],
    "no-confusing-arrow": [0]
  }
}
